## ----------------------------------------------------------------------- INFO
## [.gitignore]
## author        : fantomH
## created       : 2023-09-17 12:41:45 UTC
## updated       : 2023-12-14 18:14:03 UTC
## description   : .gitignore file.

## -------------------- [ PYTHON ]

## (* python env *)
venv/

## (* python flask *)
instance/*.db
migrations/

## (* python other *)
__pycache__/

## -------------------- [ OTHERS ]

## (* libreoffice *)
.~lock*

# vim: foldmethod=marker
## ------------------------------------------------------------- FIN ¯\_(ツ)_/¯
