# =============================================================================
#                                 ( SHELL )
# =============================================================================

# --- ( SHELL - case statement ) ----------------------------------------------
# ... (rev) 2026-04-03

snippet sh_case_statement "SHELL - case statement" b
# --- No args.
[[ $# -eq 0 ]] && { <do something>; return 1; }

for arg in "$@"; do
		case "${arg}" in
				-h|--help)
						usage
						return 1
						;;
		esac
done
endsnippet

# --- ( SHELL - check applications ) ------------------------------------------
# ... (rev) 2026-04-02

snippet sh_check_applications "SHELL - check applications" b
check_applications() {
	local __app
	for __app in "${@}"; do
			if ! command -v $__app >/dev/null 2>&1; then
						printf '%s\n' "${__red}[!]${__reset} ${__app} is not installed."
						return 1
				fi
		done
}
check_applications git || return 1
endsnippet

# --- ( SHELL - colors ) ------------------------------------------------------
# ... (rev) 2026-04-02

snippet sh_colors "SHELL - colors" b
local __blue=$'\033[34m'
local __bold=$'\033[1m'
local __red=$'\033[31m'
local __reset=$'\033[0m'
local __yellow=$'\033[33m'
endsnippet

# --- ( SHELL - main guard ) --------------------------------------------------
# ... (rev) 2026-04-01
# ... Same purpose as Python __name__ == "__main__".
snippet sh_main_guard "SHELL - main guard" b
if [[ "${BASH_SOURCE[0]}" == "\${0}" ]]; then
    <function> "$@"
fi
endsnippet

# --- ( SHELL - question ) ----------------------------------------------------
# ... (rev) 2026-04-01

snippet sh_question "SHELL - question" b
# --- Confirmation request.
# ... Will exit in non-interactive context.
if [[ ! -t 0 ]]; then
		printf '%s\n' "${__red}[!]${__reset} No interactive terminal available for confirmation prompt." >&2
		return 1
fi

local __input
printf "${__blue}[?]${__reset} <question>? [y/N] "
read -r __input

if [[ "${__input}" =~ ^([yY][eE][sS]|[yY])$ ]]; then
		: # --- this does nothing.
else
		<do something>
fi
endsnippet

# --- ( SHELL - trap functions ) ----------------------------------------------
# ... (rev) 2026-04-02

snippet sh_trap_functions "SHELL - trap functions" b
trap 'unset -f <functions>; trap - RETURN' RETURN
endsnippet

# --- ( SHELL - Usage ) -------------------------------------------------------
# ... (rev) 2026-04-02

snippet sh_usage "SHELL - Usage" b
usage() {
	cat <<EOF
================================================================================
[+] <function name> - <function description>
================================================================================
Usage:
<function name> [-h|--help] [-s|--status] <message...>

Options:
-h, --help    Show this help.
-s, --status  Show status and exits.

<...>
================================================================================
EOF
}
endsnippet








snippet info# "# info header" b
# ------------------------------------------------------------------------ INFO
# [`!p snip.rv = vim.eval("expand('%:p')")`]
# author        : Pascal Malouin @https://github.com/fantomH
# created       : `date --utc "+%F %H:%M:%S %Z"`
# updated       : `date --utc "+%F %H:%M:%S %Z"`
# description   : ${3:description}

endsnippet

snippet info! "html info header" b
<!-- INFO {{{

# [`!p snip.rv = vim.eval("expand('%:p')")`]
# author        : Pascal Malouin @https://github.com/fantomH
# created       : `date --utc "+%F %H:%M:%S %Z"`
# updated       : `date --utc "+%F %H:%M:%S %Z"`
# description   : 
# tags          : 

}}} -->

endsnippet

snippet foot! "HTML INFO Footer" b

<!--
# vim: foldmethod=marker
-->
endsnippet

snippet output "Commented output" b
# //output --------------------------------------------------------------------
endsnippet

snippet FIN "FIN" b
# -------------------------------------------------------------- FIN ¯\_(ツ)_/¯
endsnippet

snippet task! "Task" b
#### [${1:Object}] ${2:Description} <!-- {{{ -->
`date "+%4Y/%m/%d"`
<!-- }}} -->
endsnippet




# ---------- [ shell - sourced ] 
snippet sh_sourced "shell - sourced" b
[ -n "${__SOURCED_DEEP_SCAN:-}" ] && return
__SOURCED_DEEP_SCAN=1

endsnippet




# ---------- [ shell - dumpfile ]
snippet sh_dumpfile "shell - dumpfile" b
# --- setting up temporary file.
local __tempdir
if [[ -d /tmp && -w /tmp && -x /tmp ]]; then
		__tempdir=/tmp
else
		__tempdir="$HOME/tmp"
		mkdir -p -- "$__tempdir" || return 1
fi

local __dumpfile="${__tempdir}/<dumpfile>"

endsnippet
